<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-size" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Lista de Itens a Venda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="sell-links">
          <%= button_to "Registrar venda Caixa OPGW - Torre", sell_product_path(product_to_sell: "Caixa OPGW - Torre"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Caixa OPGW - Torre?" } %>
          <%= button_to "Registrar venda Caixa OPGW - Pórtico", sell_product_path(product_to_sell: "Caixa OPGW - Pórtico"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Caixa OPGW - Pórtico?" } %>
          <%= button_to "Registrar venda Cruzeta com Suporte - Torre", sell_product_path(product_to_sell: "Cruzeta com Suporte - Torre"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Cruzeta com Suporte - Torre?" } %>
          <%= button_to "Registrar venda Cruzeta com Suporte - Pórtico", sell_product_path(product_to_sell: "Cruzeta com Suporte - Pórtico"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Cruzeta com Suporte - Pórtico?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Torre - (9:00 a 11:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Torre - (9:00 a 11:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Torre - (9:00 a 11:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Torre - (12:00 a 13:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Torre - (12:00 a 13:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Torre - (12:00 a 13:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Torre - (14:00 a 15:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Torre - (14:00 a 15:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Torre - (14:00 a 15:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Torre - (16:00 a 17:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Torre - (16:00 a 17:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Torre - (16:00 a 17:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Pórtico - (9:00 a 11:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Pórtico - (9:00 a 11:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Pórtico - (9:00 a 11:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Pórtico - (12:00 a 13:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Pórtico - (12:00 a 13:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Pórtico - (12:00 a 13:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Pórtico - (14:00 a 15:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Pórtico - (14:00 a 15:99)"), :class => "btn btn-enerpel mb-1", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Pórtico - (14:00 a 15:99)?" } %>
          <%= button_to "Registrar venda Grampo Guia de Descida em Pórtico - (16:00 a 17:99)", sell_product_path(product_to_sell: "Grampo Guia de Descida em Pórtico - (16:00 a 17:99)"), :class => "btn btn-enerpel", method: :patch, data: { confirm: "Tem certeza que deseja registrar a venda de 1 Grampo Guia de Descida em Pórtico - (16:00 a 17:99)?" } %>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>