<p id="notice"><%= notice %></p>

<h1>Controle de Estoque</h1>
<br>
<%= link_to 'Registrar venda Caixa OPGW', sell_product_path(product_to_sell: "Caixa OPGW"), method: :patch %>
<br><br>
<table class="index-table">
  <thead>
    <tr>
      <th class="pr-5">Material</th>
      <th>Quantidade</th>
      <th></th>
    </tr>
  </thead>

  <tbody style="background-color: white">
    <% @inventories.each do |material| %>
      <tr>
        <td><%= material.raw_material.name %></td>
        <td class="text-right"><%= material.quantity %></td>
        
        <td class="d-flex flex-column text-center pl-2">
          <%= link_to add_quantity_path(material: material.id), method: :patch do %>
            <i class="fas fa-arrow-up text-success"></i>
          <% end %>
          <%= link_to subtract_quantity_path(material: material.id), method: :patch do %>
            <i class="fas fa-arrow-down text-danger"></i>
          <% end %>
        </td>
        <td><%= link_to "Adicionar vários itens", edit_inventory_path(material.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Abrir registro de movimentação', record_logs_path %>